$color-primary:#31c27c;
$header-background: $color-primary;
$header-height: 44px;
$logo-height: 25px;
$body-background:#f4f4f4;
$nav-item-height:40px;
$nav-item-color:rgba(0,0,0,.6);
$nav-item-active:$color-primary;