* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; // 这个属性只用于iOS (iPhone和iPad)。当你点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景。要重设这个表现，你可以设置-webkit-tap-highlight-color为任何颜色
    user-select: none; //禁止用户选择
}

i {
    font-style: normal;
}